@model ProductVM

<form method="post">
    <div class="border p-3 my-4">
        <div class="row pb-2">
            <h2 class=" text-bg-info ">Create Product</h2>
        </div>
        @*<div asp-validation-summary="ModelOnly"></div>*@
        <div class="mb-3" row p-1>
            <label asp-for="Product.Title" class="p-0"></label>
            <input asp-for="Product.Title" type="text" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-bg-danger"></span>
        </div>
        <div class="mb-3" row>
            <label asp-for="Product.Description" class="p-0"></label>
            <input asp-for="Product.Description" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-bg-danger"></span>
        </div>
        <div class="mb-3" row p-1>
            <label asp-for="Product.ISBN" class="p-0"></label>
            <input asp-for="Product.ISBN" type="text" class="form-control" />
            <span asp-validation-for="Product.ISBN" class="text-bg-danger"></span>
        </div>
        <div class="mb-3" row>
            <label asp-for="Product.Author" class="p-0"></label>
            <input asp-for="Product.Author" class="form-control" />
            <span asp-validation-for="Product.Author" class="text-bg-danger"></span>
        </div>
        <div class="mb-3" row p-1>
            <label asp-for="Product.ListPrice" class="p-0"></label>
            <input asp-for="Product.ListPrice" type="text" class="form-control" />
            <span asp-validation-for="Product.ListPrice" class="text-bg-danger"></span>
        </div>
        <div class="mb-3" row>
            <label asp-for="Product.Price" class="p-0"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-bg-danger"></span>
        </div>
        <div class="mb-3" row>
            <label asp-for="Product.Price50" class="p-0"></label>
            <input asp-for="Product.Price50" class="form-control" />
            <span asp-validation-for="Product.Price50" class="text-bg-danger"></span>
        </div>
        <div class="mb-3" row>
            <label asp-for="Product.Price100" class="p-0"> </label>
            <input asp-for="Product.Price100" class="form-control" />
            <span asp-validation-for="Product.Price100" class="text-bg-danger"></span>
        </div>
        <div class="form-floating py-2 col-12" row>
            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-control">
                 <option disabled selected>--Selected Category--</option>
            </select>
            <label asp-for="Product.CategoryId" class="ms-2" />
            <span asp-validation-for="Product.CategoryId" class="text-bg-danger"></span>
        </div>



        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-dark form-control">Create</button>
            </div>
            <div class="col-6">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-dark form-control">
                    Back To Lıst
                </a>
            </div>
          
        </div>
    </div>

</form>

@section Scripts{
    @{
       <partial name="_ValidationScriptsPartial"/>
    }
}
